<h2>Post details:</h2>

<p>
	<%= @row['content'] %><br />
	<span style="color: #999"><%= @row['created_date'] %></span>
</p><hr />

<h3>Comments:</h3>
<form action="/details/<%= @row['id'] %>" method="POST">
	<textarea name="content" class="form-control" rows="3" placeholder="Type comment here"></textarea><br />
	<button type="submit" class="btn btn-primary">Submit</button>
</form><br /><hr />

<% @comments.each do |comment| %>
	<p>
		<h4><%= comment['content'] %></h4>
		<span style="color: #999"><%= comment['created_date'] %></span>
	</p><hr />
<% end %>
